.window-manager {
  position: relative;

  width: 100%;
  height: 100%;

  display: block;
  flex: 1;

  overflow: hidden;
}

.window {
  position: absolute;

  border: 1px solid red;
}

.window[maximized] {
  top: 0px !important;
  left: 0px !important;

  width: 100% !important;
  height: 100% !important;
}
