/* show/hide */
#chat-page-wrapper {
  display: none;
}

#chat-page-wrapper[open] {
  display: flex;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: var(--background);

  z-index: 2;
}

/* layout */
#chat-page > div {
  padding: 0px;

  overflow: hidden;

  display: grid;
  --ribbon-size: calc(var(--control-height) + 2 * var(--gap-between-tiles));
  grid-template-columns: var(--ribbon-size) 1fr;
  grid-template-rows: var(--ribbon-size) 1fr;

  border-top: 1px solid var(--border);
}

#chat-page #ribbon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  border-right: 1px solid var(--border);
}

#chat-page #toolbar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  border-bottom: 1px solid var(--border);
}

#chat-page #main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#chat-page #ribbon,
#chat-page #toolbar,
#chat-page #main {
  display: flex;
}

#chat-page #ribbon,
#chat-page #main {
  flex-direction: column;
}

#chat-page #ribbon > span,
#chat-page #toolbar > span {
  display: flex;
  flex-direction: column;
  padding: var(--gap-between-tiles);
}

/* ribbon, toolbar */
#chat-page #ribbon > span,
#chat-page #toolbar {
  padding: var(--gap-between-tiles);
  gap: var(--gap-between-tiles);
}

#chat-page #ribbon {
  justify-content: space-between;
  justify-content: space-between;
}

#chat-page #ribbon button,
#chat-page #toolbar button {
  padding: 0px;

  width: 100%;
  max-width: var(--control-height);
  height: var(--control-height);

  align-items: center;
  justify-content: center;
}
