#home-page > div {
  display: flex;
  flex-direction: column;

  gap: var(--large-gap);
}

#home-page > div > div {
  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: var(--gap-between-tiles);

  width: 100%;
  flex: 1;
}

#home-page #overview-section {
  max-width: var(--max-input-width);
}

@media (min-width: 1000px) {
  #home-page > div {
    flex-direction: row;

    gap: 8rem;
  }

  #home-page #overview-section {
    width: var(--max-input-width);
  }
}
