#home-page > div {
  display: flex;
  flex-direction: row;

  gap: var(--large-gap);

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#home-page > div > div {
  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: var(--gap-between-tiles);

  width: 100%;
  min-width: 100%;

  scroll-snap-align: center;
}

@media (min-width: 640px) {
  #home-page #overview-section {
    width: 20rem;
    min-width: 20rem;
  }

  #home-page #chat-section {
    flex: 1;
    min-width: unset;
  }
}

@media (min-width: 1200px) {
  #home-page > div {
    gap: 8rem;
  }

  #home-page #overview-section {
    width: var(--max-input-width);
    min-width: var(--max-input-width);
  }
}
