/*
AERO
*/
:root {
    --primary: hsl(220, 100%, 90%);
    --primary-hover: hsl(220, 100%, 88%);
    --primary-active: hsl(220, 100%, 85%);
    --text-on-color: black;

    --surface: hsla(220, 30%, 90%, 50%);
    --surface-hover: hsla(220, 30%, 85%, 50%);
    --surface-active: hsla(220, 30%, 80%, 50%);
  
    --control-height: 2rem;
    --outline-width: 2px;
  }
  
  .gap {
    gap: 0px !important;
  }
  
  .flex-row :is(button, input, .tile):not(:last-child) {
    margin-right: var(--gap-between-tiles);
  }
  
  .flex-column :is(button, input, .tile):not(:last-child) {
    margin-bottom: var(--gap-between-tiles);
  }
  
  button,
  input,
  select,
  textarea,
  .tile {
    border-radius: 5px;
  }
  
  button,
  input,
  select,
  textarea {
    font-size: 0.9rem;
  }
  
  button .icon {
    font-size: 1.1rem;
  }
  
  .modal > div {
    border-radius: 7px;
  }
  
  :is(input, select):not(.tile *),
  button,
  .tile {
    position: relative;
    border: 1px solid var(--border);
  }
  
  :is(input, select):not(.tile *)::before,
  button::before,
  .tile::before {
    content: "";
  
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  
    opacity: 0.25;
  
    pointer-events: none;
  }
  
  :is(input, select):not(.tile *)::before,
  button::before,
  .tile:has(select)::before {
    background: linear-gradient(#b7b7b7, #fff 45%, #bdbdbd 70%, #eee);
  }
  
  :is(input):not(.tile *)::before,
  .tile:has(input)::before {
    background: linear-gradient(#d8d8d8, #bdbdbd 35%, #eee);
  }
  